<link rel="stylesheet" href="/css/log.css">
<footer>
    <div class="footer-box1">
        <img src="/footer/logo.png" class="footer-logo">
        <div class="footer-text">Copyright © 2022. Усі права захищено.</div>
    </div>
    <div class="footer-box2">
        <a href="#"><img src="/footer/telegram.png" class="footer__icon"></a>
        <a href="#"><img src="/footer/viber.png" class="footer__icon"></a>
        <a href="#"><img src="/footer/insta.png" class="footer__icon"></a>
        <a href="#"><img src="/footer/twitter.png" class="footer__icon"></a>
        <a href="#"><img src="/footer/gmail.png" class="footer__icon"></a>
        <a href="#"><img src="/footer/Utube.png" class="footer__icon"></a> 
    </div>
</footer>