<link rel="stylesheet" href="/css/groups.css">
<link rel="startcut icon" type="image/png" href="/footer/diary.png">

<div class="container">

    <h2>Групи ШКМ</h2>

    <div class="input">
        <div class="search">
            <img src="/groups/search.png">
        </div>
        <input id="field" method="get" action="/search" placeholder="Введіть дані для пошуку..." type="text">
        <button class="delete">X</button>
    </div>
    <div class="filters">
        <button class="button-filter">
            <div class="arrow"></div>
        </button>
        <div class="filter-field">Фільтри</div>
        <div class="all-filters">
            <div class="class">
                <div class="checkboxes">
                    <label for="id5" class="description"><input type="radio" class="button2" id="id5"><div class="fake1"></div>1 клас</label>
                    <label for="id6" class="description"><input type="radio" class="button2" id="id6"><div class="fake1"></div>2 клас</label>
                    <label for="id7" class="description"><input type="radio" class="button2" id="id7"><div class="fake1"></div>3 клас</label>
                    <label for="id8" class="description"><input type="radio" class="button2" id="id8"><div class="fake1"></div>4 клас</label>
                </div>
                <div class="checkboxes">
                    <label for="id1" class="description"><input type="checkbox" class="button1" id="id1"><div class="fake"></div>5 клас</label>
                    <label for="id2" class="description"><input type="checkbox" class="button1" id="id2"><div class="fake"></div>6 клас</label>
                    <label for="id3" class="description"><input type="checkbox" class="button1" id="id3"><div class="fake"></div>7 клас</label>
                    <label for="id4" class="description"><input type="checkbox" class="button1" id="id4"><div class="fake"></div>8 клас</label>
                </div>
            </div>
            <div class="group">
                <div class="checkboxes">
                    <label for="id9" class="description"><input type="radio" class="button2" id="id9"><div class="fake1"></div>2018-1</label>
                    <label for="id10" class="description"><input type="radio" class="button2" id="id10"><div class="fake1"></div>2018-2</label>
                    <label for="id11" class="description"><input type="radio" class="button2" id="id11"><div class="fake1"></div>2020-1</label>
                    <label for="id12" class="description"><input type="radio" class="button2" id="id12"><div class="fake1"></div>2020-2</label>
                </div>
                <div class="checkboxes">
                    <label for="id13" class="description"><input type="checkbox" class="button1" id="id13"><div class="fake"></div>2020-3</label>
                    <label for="id14" class="description"><input type="checkbox" class="button1" id="id14"><div class="fake"></div>2017-1</label>
                    <label for="id15" class="description"><input type="checkbox" class="button1" id="id15"><div class="fake"></div>2016-6/1</label>
                    <label for="id16" class="description"><input type="checkbox" class="button1" id="id16"><div class="fake"></div>2019-2</label>
                </div>
            </div>
            <div class="modul">
                <div class="checkboxes1">
                    <label for="id17" class="description1"><input type="radio" class="button2" id="id17"><div class="fake1"></div>Адаптивна верстка</label>
                    <label for="id18" class="description1"><input type="radio" class="button2" id="id18"><div class="fake1"></div>Flex-box</label>
                    <label for="id19" class="description1"><input type="radio" class="button2" id="id19"><div class="fake1"></div>Основи друку</label>
                    <label for="id20" class="description1"><input type="radio" class="button2" id="id20"><div class="fake1"></div>СКМ</label>
                </div>
                <div class="checkboxes1">
                    <label for="id21" class="description1"><input type="checkbox" class="button1" id="id21"><div class="fake"></div>Алгоритмізація. kTurtle</label>
                    <label for="id22" class="description1"><input type="checkbox" class="button1" id="id22"><div class="fake"></div>Верстка макетів</label>
                    <label for="id23" class="description1"><input type="checkbox" class="button1" id="id23"><div class="fake"></div>Мікропроекти</label>
                    <label for="id24" class="description1"><input type="checkbox" class="button1" id="id24"><div class="fake"></div>Основи JS</label>
                </div>
            </div>
            <div class="teacher">
                <div class="checkboxes2">
                    <label for="id25" class="description1"><input type="checkbox" class="button1" id="id25"><div class="fake3"></div>Андрій Володимирович</label>
                    <label for="id26" class="description1"><input type="checkbox" class="button1" id="id26"><div class="fake4"></div>Юлія Мирославівна</label>
                    <label for="id27" class="description1"><input type="checkbox" class="button1" id="id27"><div class="fake5"></div>Олеся Петрівна</label>
                    <label for="id28" class="description1"><input type="checkbox" class="button1" id="id28"><div class="fake6"></div>Назарій Миколайович</label>
                </div>
            </div>
        </div>
    </div>
    <div class="none">
        <div class="cards">
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">1 клас</p>
                    </div>
                    <p class="card_p">Группа 2019-6/1 <br> Модуль: Верстка макетів</p>
                </div>
            </div>


            

            {{#each items}}
            <div class="card">
                <img class="img" src="/groups/img.png">
                <div class="downside">
                    <div class="flag">
                        <img src="/groups/flag1.png" class="sign">
                        <p class="sign-class">{{this.class}}</p>
                    </div>
                    <p class="card_p">{{this.group}} <br> Модуль: {{this.modul}}</p>
                </div>
            </div>
            {{/each}}

            <div class="card-creater">
                <div class="circle">
                    <img src="/groups/+.png">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="menu">
    <div class="menu-top">
        Додати групу:
        <button class="X">X</button>
    </div>
    <div class="form-wrapper">
        <form class="target" action="/target" method="GET">
        <div class="form-box">
            Номер групи:
            <div class="form__action">
                <div class="form__icon">
                    <img src="img/03.png" alt="" class="form__photo">
                </div>
                <input class="form__input" type="text" name="group">
            </div>
        </div>
        <div class="form-box">
            <div class="form__name">Модуль групи</div>
            <div class="form__action">
                <div class="form__icon">
                    <img src="img/03.png" alt="" class="form__photo">
                </div>
                <select class="form__input form__select" name="modul">
                    <option value="Алгоритмізація" class="form__option">Алгоритмізація</option>
                    <option value="Верстка макетів" class="form__option">Верстка макетів</option>
                    <option value="Веб-студія" class="form__option">Веб-студія</option>
                    <option value="Адаптивна верстка" class="form__option">Адаптивна верстка</option>
                </select>
            </div>
        </div>
        <div class="form-box">
            <div class="form__name">Клас групи</div>
            <div class="form__action">
                <div class="form__icon">
                    <img src="img/03.png" alt="" class="form__photo">
                </div>
                <select class="form__input form__select" name="class">
                    <option value="1 клас" class="form__option">1 клас</option>
                    <option value="2 клас" class="form__option">2 клас</option>
                    <option value="3 клас" class="form__option">3 клас</option>
                    <option value="4 клас" class="form__option">4 клас</option>
                </select>
            </div>
        </div>
        <div class="form-box">
            <div class="form__name">Викладач групи:</div>
            <div class="form__action">
                <div class="form__icon">
                    <img src="img/03.png" alt="" class="form__photo">
                </div>
                <select class="form__input form__select" name="teacher">
                    <option value="Юлія Мирославівна" class="form__option">Юлія Мирославівна</option>
                    <option value="Назар Миколайович" class="form__option">Назар Миколайович</option>
                    <option value="Олеся Петрівна" class="form__option">Олеся Петрівна</option>
                    <option value="Андрій Володимирович" class="form__option">Андрій Володимирович</option>
                </select>
            </div>
        </div>
        <div class="form-box">
            <div class="form__name">Розклад групи:</div>
            <div class="form__action">
                <div class="form__icon">
                    <img src="img/03.png" alt="" class="form__photo">
                </div>
                <select class="form__input form__select" name="days">
                    <option value="Понеділок - середа" class="form__option">Понеділок - середа</option>
                    <option value="П'ятниця - субота" class="form__option">П'ятниця - субота</option>
                    <option value="Вівторок - четвер" class="form__option">Вівторок - четвер</option>
                </select>
            </div>
        </div>
        <div class="form-box buttons">
            <button value="Reset" class="basket"></button>
            <input value="Save" type="submit" class="save">
        </div>
        
    </form>
    </div>
    
        
</div>
{{>footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/groups.js"></script>
