<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/log.css">
    <link rel="startcut icon" type="image/png" href="/footer/diary.png">
    <title>Document</title>
</head>
<body>
    <div class="log-container">
        <div class="log-container-box">
            <div class="container-box-text">
                <h1 class="black">Найкращий щоденник</h1>
                <h1 class="blue">для успішних учнів</h1>
                <p class="log-info">
                    Найбільшу роль в освітньому процесі на сьогодні є допомога
                    учневі в пізнанні вивчаємого матеріалу, а саме у взаємному звязку
                    між учнем та учителем. Саме тому ми представляємо вам щоденник,
                    в якому учні нашого навчального закладу зможуть скористатись усіма
                    сучасними методами комунікації та отримають новий досвід у вивченні
                    програмування.
                </p>
            </div>

            <div class="login-page">
                <div class="form">
                    <form class="login-form" method="post" action="/login">
                    <input name="name" type="text" placeholder="Логін"/>
                    <input name="pass" type="password" placeholder="Пароль"/>
                    <div class="view"></div>
                    <button>Авторизуватись</button>
                    <p class="message">Не зареєстровані?<a href="#"> Тоді створіть аккаунт</a></p>
                    </form>
                </div>
                </div>
            
        </div>
        {{>footer}}
    </div>
    <script src="/js/log.js"></script>
</body>
</html>